@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    @include m.tablet {
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    background-color: v.$white;
    color: v.$black;
    font-family: v.$main-font;
    font-size: 1.6rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-start{
    @include m.tablet {
        display: flex;
        justify-content: flex-start;
        margin: 1rem;
    }
    display: flex;
    justify-content: center;
    .section-name{
        font-size: 2.5rem;
        color: v.$accent;
    }
}

.rectangle{
    display: inline-block;
    width: 1.5rem;
    height: auto;
    background-color: v.$accent;
    border-radius: .5rem;
    margin: 2rem 1.5rem 2rem 0;
}

.list{
    @include m.tablet {
        display: flex;
        // justify-content: center;
        margin-left: 2rem;
        gap: calc(v.$gap / 2);
    }
    // @include m.grid(2, 2rem);
}
