//Fonts
$main-font: 'Oswald', sans-serif;
$logo-font: 'Lilita One', cursive;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #000000;
$secondary: #F3A5A5;
$accent: #B51717;

$black: #000000;
$white: #FFFFFF;

// Alerts
$red: #FF0000;
$green: #00FF00;

// Other
$gap: 5rem;

// Font-Sizes
$thin: 300;
$regular : 400;
$bold: 700;
$black-font: 900