@use 'base/variables' as v;
@use 'base/mixins' as m;

/* styles.css */
.cart {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.cart th, .cart td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.cart tbody tr {
    text-align: center;
    padding: 20px; 
    border: 1px solid #ccc;
    height: 100px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.box {
    flex: 0 0 250px; /* Width of the right box */
    padding: 20px;
    border: 2px solid black;
    height: 50px; 
    width: 40%;
    background-color: #ffffff;
    margin: 0 auto;
    justify-content:center;

}

.red-button {
    color: v.$white;
    background-color: v.$red;
}
