@use 'base/variables' as v;
@use 'base/mixins' as m;

.checkout{
    display: flex;
    flex-direction: column;
    margin: v.$gap;
    margin-top: 0;
    
    &__productsPrice{
        display: flex;
        flex-direction: column;

    }

    .total{
        opacity: 0.5;
        margin: 0;
        padding: 0;
    }

    .price{
        font-size: 4rem;
        margin-top: 0;
        padding: 0;
    }

    &__productsInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include m.tablet{
            margin: 0 auto 0 0;
        }

        img{
            max-width: 4rem;
            max-height: 4rem;
            margin-right: 2rem;

        }

        &__productRow{
            display:flex;
            align-items: center;


            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .prodName{
                    font-size: 1.5rem;
                    margin: 1;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            
                .prodQuantity{
                    margin-top: 0;
                    opacity: 0.5;
                    font-size: 1.2rem;
                }


            }

            .prodPrice{
                font-size: 1.5rem;
                margin-left: 10rem;
                font-weight: bold;
                margin-bottom: 0;
                align-self: flex-start;
            }

            

        }

        .subTotal{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0;
            margin-left: 5rem;
            border-bottom: 1px solid #000;
        }
    
        
    }
}