.form{
    max-width: 80rem; /* Adjust the max-width as needed */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .action-btn{
        align-items:flex-start;
        justify-content:baseline;
        margin-right: auto;


    }

}