@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$primary;
    @include m.tablet{
        @include m.grid(5, calc(v.$gap/2));
    }
    @include m.grid(2, calc(v.$gap/2));
    grid-template-columns: auto 1fr;
    margin-top: auto;
    padding: v.$gap;
}

.logo{
    @include m.tablet{
        grid-column: 1/2;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3;
    .logo-image{
        width: 15rem;
        height: auto;
        margin: 0;
    }
    .logo-name{
        margin: 0;
        text-transform: uppercase;
        color: v.$white;
        font-family: v.$logo-font;
    }
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .link-section{
        color: v.$secondary;
        font-weight: v.$bold;
        margin: 0;
    }
    a{
        color: v.$white;
    }
}