@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    @include m.tablet{
        display: flex;
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    margin: calc(v.$gap/2);
    align-items: center;
    .company-name{
        text-transform: uppercase;
        font-family: v.$logo-font;
        font-size: 3rem;
        color: v.$black;
    }
    .navigation{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
        &.show{
            visibility: visible;
            opacity: 1;
            height: auto;
        }
        @include m.tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            opacity: 1;
            visibility: visible;
        }
        padding: 0 v.$gap;
        display: flex;
        flex-direction: column;
        width: 100%;
        .header-links{
            gap: v.$gap;
            @include m.tablet{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                padding-right: v.$gap;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: calc(v.$gap/2);
            a{
                color: v.$black;
                display: inline-flex;
                align-items: center;
                &:hover{
                    border-bottom: 3px solid v.$black;
                }
            }
        }
        .header-account{
            display: flex;
            @include m.tablet{
                flex-direction: row;
                justify-content: space-between;
                margin: 0 0 0 auto;
            }
            flex-direction: column;
            align-items: center;
            gap: calc(v.$gap/2);
            margin-top: calc(v.$gap/2);
        
        }
    }

    .icon{
        font-size: 3rem;
        color: v.$black;
    }
}

.mobile-menu{
    @include m.tablet{
        display: none;
    }
    font-size: 3rem;
    margin-top: 2rem;
}

.search-bar {
    margin: 0 2rem;
    margin-bottom: 2rem;
    border: 1px solid v.$black;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    .search-input{
        flex: 1;
        display: flex;
    }

    .search-input input{
        flex: 1;
        padding: 1rem;
        border: none;
        border-radius: 0;
        outline: none;
        &:focus{
            outline: none;
        }
    }
    .search-icon{
        background-color: v.$accent;
        border: none;
        color: v.$white;
        border-radius: 3rem;
        padding: 0 2rem;
        justify-content: flex-end;
    }
}
