@use 'base/variables' as v;
@use 'base/mixins' as m;

.service{
    display: flex;
    flex-direction: column;
    margin: v.$gap;
    margin-top: 0;
    &__title{
        @include m.tablet{
            text-align: left;
        }
        text-align: center;
        border-bottom: 1px solid #000;
        font-size: 3.5rem;
        font-weight: v.$bold;
        padding-bottom: 1rem;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            height: 200px;
            // @include m.tablet{
                // margin-left: 50px; 
                // margin-top: 150px; 
            // }

        }
        
    }

    &__description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include m.tablet{
            text-align: left;
        }
        text-align: center;
        .description__title{
            text-align: center;
            margin-top: 1.5rem;
            font-weight: v.$bold;
        }
        p{
            margin: 0.5rem;
        }
        .title-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon-contact{
                margin-top: 1.5rem;
                margin-right: 0.5rem;
                background-color: v.$accent;
                padding: 1rem;
                border-radius: 5rem;
            }
        }
        
    }
    
}


.service-form{
    width: 100%;
    .form__field{
        @include m.tablet{
            width: 45%;
        }
        width: 100%;
        margin: 0;
    }

    .form__input{
        margin-bottom: 2rem;
    }

    .form__submit{
        @include m.tablet{
            width: auto;
            align-self: flex-end;
        }
        margin: 2rem;
        width: 100%;
    }

    .boton{
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        background-color:v.$accent;
        color: white;
        border: 1px solid v.$accent;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.searchBar {
    max-width: 600px;
    margin: 4rem auto;
    border: 1px solid v.$black;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    .search-input{
        flex: 1;
        display: flex;
        margin-top: 1rem;
    }

    .search-input input{
        flex: 1;
        padding: 1rem;
        border: none;
        border-radius: 0;
        outline: none;
        &:focus{
            outline: none;
        }
    }
    .search-icon{
        background-color: v.$accent;
        border: none;
        color: v.$white;
        border-radius: 3rem;
        padding: 0 2rem;
        justify-content: flex-end;
    }
}
  

.squareContainer {
  background-color: #fff;
  border: 2px solid #ccc;
  width: 700px;
  height: 700px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
.scrollableContent {
  overflow: auto;
}
.search-header {
  text-align: left; 
}
.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-list li {
  margin-bottom: 25px;
}

.line {
  border-bottom: 1px solid black;  
  text-align: center;
}

table.line{
  margin-bottom: 20px;
}
